.mediaViewInfo {
	--web-view-name: iPhone X, XS, 11 Pro – 1;
	--web-view-id: iPhone_X_XS_11_Pro__1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: iPhone_X_XS_11_Pro__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#iPhone_X_XS_11_Pro__1 {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: iPhone X, XS, 11 Pro – 1;
	--web-view-id: iPhone_X_XS_11_Pro__1;
	--web-scale-on-resize: true;
	--web-scale-on-double-click: true;
	--web-show-scale-controls: true;
	--web-enable-deep-linking: true;
}
#Icon_metro-mobile {
	fill: rgba(213,208,208,1);
}
.Icon_metro-mobile {
	overflow: visible;
	position: absolute;
	width: 124px;
	height: 216px;
	left: 126px;
	top: 166px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(223,213,213,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 124px;
	height: 152px;
	left: 126px;
	top: 190px;
}
#Ellipse_1 {
	fill: rgba(164,164,164,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 23px;
	left: 176px;
	top: 350px;
}
#Rectangle_2 {
	fill: rgba(235,231,231,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 138px;
	top: 210px;
}
#Rectangle_3 {
	fill: rgba(235,231,231,1);
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 138px;
	top: 210px;
}
#Rectangle_4 {
	fill: rgba(235,231,231,1);
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 173px;
	top: 210px;
}
#Rectangle_5 {
	fill: rgba(235,231,231,1);
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 208px;
	top: 210px;
}
#Rectangle_7 {
	fill: rgba(235,231,231,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 138px;
	top: 210px;
}
#Rectangle_8 {
	fill: rgba(235,231,231,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 138px;
	top: 241px;
}
#Rectangle_9 {
	fill: rgba(235,231,231,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 173px;
	top: 241px;
}
#Rectangle_10 {
	fill: rgba(235,231,231,1);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 208px;
	top: 241px;
}
#Rectangle_11 {
	fill: rgba(235,231,231,1);
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 139px;
	top: 272px;
}
#Rectangle_12 {
	fill: rgba(235,231,231,1);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 139px;
	top: 272px;
}
#Rectangle_13 {
	fill: rgba(235,231,231,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 173px;
	top: 272px;
}
#Rectangle_14 {
	fill: rgba(235,231,231,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 207px;
	top: 272px;
}
#This_is_a_backend_feature {
	left: 44px;
	top: 454px;
	position: absolute;
	overflow: visible;
	width: 280px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(0,0,0,1);
}
#This_feature_works_in_the_back {
	left: 38px;
	top: 492px;
	position: absolute;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#so_user_wont_see_it_in_action {
	left: 44px;
	top: 516px;
	position: absolute;
	overflow: visible;
	width: 230px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#thats_why_theres_no_image_here {
	left: 42px;
	top: 540px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}